attrs==19.3.0
click==7.1.1
click-plugins==1.1.1
cligj==0.5.0
cycler==0.10.0
decorator==4.4.2
Fiona==1.8.13.post1
geopandas==0.7.0
haversine==2.2.0
joblib==0.14.1
kafka-python==2.0.1
kiwisolver==1.1.0
matplotlib==3.0.3
munch==2.5.0
networkx==2.4
numpy==1.18.2
pandas==0.24.2
pyparsing==2.4.6
pyproj==2.6.0
python-dateutil==2.8.1
pytz==2019.3
scikit-learn==0.22.2.post1
scipy==1.4.1
Shapely==1.7.0
six==1.14.0
tqdm==4.43.0
